.statusBar{
	border: 1px solid black;
	position : relative;
	width : 200px;

	padding : 10px 10px;

	display: inline-block;
	vertical-align: top;

	.player{
		margin-left: 20px;
		.role{
			font-size: 0.5em;
			font-weight: 800;
		}
	}

	.mission{
		li{
			font-size: 0.8em;
		}
	}

	button{
		margin-top: 80px;
		background-color: @red;
	}
}